/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:0px; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox {
border: 1px solid #333;
background: white;
}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
		#cboxLoadedContent {
			background: none repeat scroll 0 0 #FFFFFF;
		}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.html) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.html) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../images/loading.html) no-repeat center center;}
		#cboxClose {
			background: url("../img/img_new/close_btn.png") no-repeat scroll center top transparent;
			display: block;
			height: 23px;
			position: absolute;
			right: -7px;
			text-indent: -9999px;
			top: 0;
			width: 38px;
		}
        #cboxClose:hover{background-position:bottom center;}
		
		
#changeImage,#changeNom ,#changeVille,#changePays,#changeAdresse,
#changePrestations,#changeHorraire,#changeServices,#changePromotion,#changeDescription{
    float: left;
    margin: 10px;
}		
#changeImage .btn_env,#changeNom  .btn_env,#changeVille .btn_env,#changePays .btn_env,#changeAdresse .btn_env,
#changePrestations .btn_env,#changeHorraire .btn_env,#changeServices .btn_env,#changePromotion .btn_env,#changeDescription .btn_env{
    margin-top: 10px !important;
}