/********************Les dérniers offres********************/
#offres_btn {
    background: url("../img/img_new/offres_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 11px;
   /* height: 25px; */
    margin-left: 130px;
    margin-right: 0;
    padding-bottom: 13px;
    padding-top: 6px;
    width: 128px;
}
#td_offre_btn{
	float:none !important;
	}
/********************Fin Les dérniers offres********************/	
/***************************************resulat_alerte*********************************/
.bloc1-input-recherche-result p span input.Bureau{
    float: none !important;
}

.btn_alerte {
    background: url("../img/img_new/btn-gerer-offre.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 12px;
   /*	height: 25px;*/
   	text-align: center;
	margin-right:6px;
	padding-bottom: 10px;
	padding-top: 10px;
    width: 114px;
    float: right;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
}
/***************************************fin resulat_alerte*********************************/
/*************************************** creation_offre*********************************/
#toplinkside{
	position: relative;
	}
#toplinkside span {
    color: #1E83BD;
    font-weight: bold;
    position: absolute;
    right: -275px;
    width: 500px;
}
label.godown {
    color: #666666;
    float: left;
    font-family: arial;
    font-size: 12px;
    padding-top: 0;
    width: 182px;
}
label {
    display: block;
    margin-bottom: 6px;
}
p input[type="text"] {
    background-color: transparent;
    border: 1px solid #999999;
    color: #333333;
    font-family: tahoma,arial,verdana;
    font-size: 12px;
    height: 17px;
    margin-bottom: 7px;
    padding: 0 2px 2px 3px;
    float: left;
    width:160px;
}
body, input, textarea {     
	color: #333333;     
	font-family: Arial,Helvetica,sans-serif;
	font-size :13px 
}
.area{
	height: 124px;     
	margin: 2px;     
	width: 310px;
	}
p.fix-marg {
    float: left;
    width: 27%;
}
.btn-gerer-offre {
    border: medium none;
    height: 37px;
}
.bloc-choisi-competence .bloc2-choisi-competence {
    float: left;
    width: 70%;
}
.bloc-choisi-competence {
    float: left;
    width: 100%;
}
.bloc-choisi-competence .bloc2-choisi-competence p {
    float: left;
    width: 100%;
}
 .focusField{
 border:solid 2px #73A6FF;
 background:#EFF5FF;
 color:#000;
 }
 .idleField{
 background:#EEE;
 color: #6F6F6F;
 border: solid 2px #DFDFDF;
 } 
 p, blockquote, address, form, pre, dl, h1.samples, h2.samples {
    margin-bottom: 15px;
}
.title_all {
    color: #777777;
    float: left;
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: 13px;
}
.fullWith82 {
    width: 82%;
}
td.cache {
            visibility:hidden;
        }
td.montre {
            visibility:visible;
        }
.img-ok {  
    margin-left: 3px;
}
#Competences_loading {  
    margin-left: 42px;
}
.selectListe {
    background: none repeat scroll 0 0 whiteSmoke;
    border: 1px solid #CCCCCC;
    color: #1E83BD;
    float: left;
    font-family: arial;
    font-size: 11px;
    height: 30px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 149px;
    margin-bottom:6px;
}
.libelleMetier {
    color: #666666;
    float: left;
    font-family: arial;
    font-size: 12px;
    padding-left: 4px;
    padding-top: 4px;
}
#label-contrat{
	 font-size: 11px;
	}
.checkbox label {
	border: none !important;
	width: 70px !important;
	color: #1E83BD !important;
    float: right !important;
    font-family: arial !important;
    font-size: 12px !important;
    min-width: 76px !important;
    padding-right: 12px !important;
    position: relative !important;
    top: 6px !important;
	}

.checkbox {
	display :table-row;
	} 
input[type="radio"] {
width: 25px !important;
}
input[type="checkbox"] {
width: 16px !important;
}
.tab-offre{
 margin-left: 20px;	
 width: 96%;
 border: 0;
}
.tab_langue label.error{
	width: 110px !important;
	}
.permis-bloc-gerer-offre span {
    color: #1E83BD !important;
    float: left;
    font-family: Myriad Pro !important;
    font-size: 12px !important;
    margin-bottom: auto !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto !important;
}
/***************************************fin creation_offre*********************************/