table.stats {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	
	background-color: #666;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.stats td {
	background-color: #FFF;
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px #DFDAE6 solid;
}

table.stats th {
	background-color: #B1B1B1;
	color: #fff;
	padding: 4px;
	text-align: left;
	border: 1px #DFDAE6 solid;
	font-size: 12px;
	font-weight: bold;
	
}

table.stats td.hed {
	background-color: #B1B1B1;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	font-weight: bold;
}

div.tableright {
	margin-top: 2%;
	margin-left: 1%;
	float: left;
}

div.tableleft {
	margin-top: 2%;
	margin-right: 1%;
	float: right;
}
div.bottom {
	
	margin-top: 2%;
	margin-right: 1%;
}

table .tabwidth {
	width: 40px;
}

div.tablebottom {
	margin-bottom: auto;
}